<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,379},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,379},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,379},{218,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{218,74}}</string>
                <key>sourceSize</key>
                <string>{250,88}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,379},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,379},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>imgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{371,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,371}}</string>
                <key>sourceSize</key>
                <string>{371,371}</string>
            </dict>
            <key>imgUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,457},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c258970f658e2e186f7f82b04efa6e03:641a60e4018bb142dd4397d0a878686f:129eb2db9176ed2c4fc891d3d7e6d8e9$</string>
            <key>textureFileName</key>
            <string>buttonSheet.png</string>
        </dict>
    </dict>
</plist>
