<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,196},{188,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,140},{188,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,208},{432,149}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{432,149}}</string>
                <key>sourceSize</key>
                <string>{500,177}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,72},{188,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,4},{188,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,4},{188,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>imgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{743,741}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,741}}</string>
                <key>sourceSize</key>
                <string>{743,741}</string>
            </dict>
            <key>imgUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,388},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonSheet-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c258970f658e2e186f7f82b04efa6e03:641a60e4018bb142dd4397d0a878686f:129eb2db9176ed2c4fc891d3d7e6d8e9$</string>
            <key>textureFileName</key>
            <string>buttonSheet-hd.png</string>
        </dict>
    </dict>
</plist>
