<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>btnExtras.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,66},{184,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{184,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,4},{184,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{184,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>btnSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,4},{184,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{184,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4831dd3acb3838ae5ca2298251558983:f7f2d4cfc755ae73f84ea66b51320dfc:cf3d4c0cb0ea3ac3693f9da9d9afa6cf$</string>
            <key>textureFileName</key>
            <string>sheet-hd.png</string>
        </dict>
    </dict>
</plist>
