<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1142},{373,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{373,130}}</string>
                <key>sourceSize</key>
                <string>{431,152}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1008},{373,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{373,130}}</string>
                <key>sourceSize</key>
                <string>{431,152}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,556},{518,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{518,180}}</string>
                <key>sourceSize</key>
                <string>{600,212}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,372},{518,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{518,180}}</string>
                <key>sourceSize</key>
                <string>{600,212}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1490},{864,299}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,21},{864,299}}</string>
                <key>sourceSize</key>
                <string>{1000,353}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,874},{373,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{373,130}}</string>
                <key>sourceSize</key>
                <string>{431,152}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,740},{373,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{373,130}}</string>
                <key>sourceSize</key>
                <string>{431,152}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,188},{518,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{518,180}}</string>
                <key>sourceSize</key>
                <string>{600,212}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,4},{518,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{518,180}}</string>
                <key>sourceSize</key>
                <string>{600,212}</string>
            </dict>
            <key>imgArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1145},{105,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>imgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1485,1482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1485,1482}}</string>
                <key>sourceSize</key>
                <string>{1485,1482}</string>
            </dict>
            <key>imgFinger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,906},{148,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,235}}</string>
                <key>sourceSize</key>
                <string>{148,235}</string>
            </dict>
            <key>imgUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,740},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf01ad40d6fbf7a3f9e7d9c2f9b92ca2:e2424762704adb0befc0490e47f18ac8:129eb2db9176ed2c4fc891d3d7e6d8e9$</string>
            <key>textureFileName</key>
            <string>buttonSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
