<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,520},{188,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,66}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,502},{188,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,66}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,286},{260,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,192},{260,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,749},{432,151}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{432,151}}</string>
                <key>sourceSize</key>
                <string>{500,177}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,450},{188,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,66}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,380},{188,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{188,66}}</string>
                <key>sourceSize</key>
                <string>{216,76}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,98},{260,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,4},{260,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>imgArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,590},{53,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{53,59}</string>
            </dict>
            <key>imgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{743,741}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,741}}</string>
                <key>sourceSize</key>
                <string>{743,741}</string>
            </dict>
            <key>imgFinger.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,380},{74,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,118}}</string>
                <key>sourceSize</key>
                <string>{74,118}</string>
            </dict>
            <key>imgUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,590},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonSheet-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf01ad40d6fbf7a3f9e7d9c2f9b92ca2:e2424762704adb0befc0490e47f18ac8:129eb2db9176ed2c4fc891d3d7e6d8e9$</string>
            <key>textureFileName</key>
            <string>buttonSheet-hd.png</string>
        </dict>
    </dict>
</plist>
