<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,379},{94,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,34}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,379},{94,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,34}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,4},{130,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{130,45}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,459},{130,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{130,45}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,379},{218,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{218,76}}</string>
                <key>sourceSize</key>
                <string>{250,88}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,379},{94,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,34}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{94,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,34}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,428},{130,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{130,45}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,379},{130,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{130,45}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>imgArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,477},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>imgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{371,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,371}}</string>
                <key>sourceSize</key>
                <string>{371,371}</string>
            </dict>
            <key>imgFinger.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,4},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>imgUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,459},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf01ad40d6fbf7a3f9e7d9c2f9b92ca2:e2424762704adb0befc0490e47f18ac8:129eb2db9176ed2c4fc891d3d7e6d8e9$</string>
            <key>textureFileName</key>
            <string>buttonSheet.png</string>
        </dict>
    </dict>
</plist>
